 <footer class="footer">
        <img src="https://cdn.sstatic.net/Img/home/robot.svg?v=dfa16a330cbd" alt="" class="footer-robot-img">
        <div class="container">
            <div class="footer-content">
                <div class="footer-icon">
                    <i class="fab fa-stack-overflow"></i>
                </div>
                <div class="footer-nav">
                    <div class="footer-nav-col">
                        <div class="footer-links-title"><a href="#">Stack Overflow Clone</a></div>
                        <ul class="footer-links">
                            <li class="footer-link-item"><a href="#" class="footer-link">Questions</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Jobs</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Developer Jobs Directory</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Salary Calculator</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Help</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Mobile</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Disable Responsiveness</a></li>
                        </ul>
                    </div>
                    <div class="footer-nav-col">
                        <div class="footer-links-title"><a href="#">Products</a></div>
                        <ul class="footer-links">
                            <li class="footer-link-item"><a href="#" class="footer-link">Teams</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Talent</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Advertising</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Enterprise</a></li>
                        </ul>
                    </div>
                    <div class="footer-nav-col">
                        <div class="footer-links-title"><a href="#">Company</a></div>
                        <ul class="footer-links">
                            <li class="footer-link-item"><a href="#" class="footer-link">About</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Press</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Work Here</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Legal</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Privacy Policy</a></li>
                            <li class="footer-link-item"><a href="#" class="footer-link">Contact Us</a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </footer>